global
    log /dev/log local0
    user haproxy
    group haproxy
    daemon
    maxconn 128

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 10s
    timeout client 16m
    timeout server 16m

frontend mud_ansi
    bind 0.0.0.0:2323
    default_backend pi_ansi

backend pi_ansi
    server pi 100.67.213.90:2323 check inter 30s

frontend mud_petscii
    bind 0.0.0.0:6464
    default_backend pi_petscii

backend pi_petscii
    server pi 100.67.213.90:6464 check inter 30s
