<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>SID64 Starlark</string>
	<key>uuid</key>
	<string>a518845e-112c-5347-aeb5-6bb75ba10079</string>
</dict>
</plist>
